<% params[:id] = "registration/new" %>

<div class="well">
  <div class="row">

    <div class="page-header col-md-offset-1 col-md-10">
      <h2>
        <%= t :title %>
        <% if params[:locale] == "en" %>
          <small>如需发票，请在<a href="/zh-CN/registration/new">中文页面注册</a></small>
        <% end %>
      </h2>
    </div>

    <%= form_for @registration, url: registration_path, html: { class: "form-horizontal col-md-6" } do |f| %>

      <% if @registration.errors.any? %>
        <div class="alert alert-danger col-md-offset-2">
          <ul>
            <% @registration.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% if params[:locale] == "en" %>
        <%= bootstrap_text_field f, :first_name %>
        <%= bootstrap_text_field f, :family_name %>
      <% else %>
        <%= bootstrap_text_field f, :full_name %>
      <% end %>

      <%= bootstrap_text_field f, :affiliation %>

      <%= bootstrap_radio_buttons f, :profession, %i(student employee researcher) %>

      <% if params[:locale] == "en" %>
        <%= bootstrap_radio_buttons f, :title, %i(prof dr ms mr) %>
      <% else %>
        <%= bootstrap_text_field f, :title %>
      <% end %>

      <%= bootstrap_text_field f, :address %>
      <%= bootstrap_text_field f, :postcode %>
      <%= bootstrap_text_field f, :phone %>
      <%= bootstrap_text_field f, :email %>

      <%= bootstrap_radio_buttons f, :section_type, %i(all_sections section_1_only) %>

      <% if params[:locale] == "en" %>
        <%= bootstrap_radio_buttons f, :payment_type, %i(wire_transfer cash), tips: t("wire_transfer_tip") %>
        <%= bootstrap_radio_buttons f, :invoice_needed, %i(receipt nothing) %>
      <% else %>
        <%= bootstrap_radio_buttons f, :payment_type, %i(wire_transfer cash) %>
        <%= bootstrap_radio_buttons f, :invoice_needed, %i(invoice nothing) %>
        <%= bootstrap_text_field f, :invoice_title, tips: t("invoice_title_tip") %>
      <% end %>

      <%= bootstrap_text_area f, :request, t("request_tip") %>


      <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
          <button type="submit" class="btn btn-primary"><%= t :button %></button>
        </div>
      </div>

    <% end %>

    <div class="col-md-5">
      <h4><%= t("note.title") %></h4>
      <ol>
        <% t("note.list").each do |list| %>
          <li><%= raw list %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>
