<div class="map-wrapper">
  <div id="map"></div>

  <div class="content">
    <h4 class="ml20 mb20"><%= t(:title) %></h4>
    <ol class="ml20">
      <% t(:list).each_with_index do |list, index| %>
        <li>
          <h4><%= list[:title] %> <a class="mt0 btn btn-primary btn-xs" href="javascript: show(<%= index %>);"><span class="glyphicon glyphicon-map-marker"></span><%= t(:map) %></a></h4>
          <%= simple_format list[:para] %>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<script type="text/javascript">
  <% geoData = [] %>
  <% t(:list).each do |list| %>
    <% geoData.push({
      position: list[:position],
      title: list[:title],
      content: ("<h4>#{list[:title]}</h4>#{simple_format(list[:para])}")
    }) %>
  <% end %>

  var geoData = <%= raw geoData.to_json %>;
  var geoCenter = {
    "lat": <%= geoData.map{|info|info[:position][:lat]}.reduce(&:+) / geoData.length %>,
    "lng": <%= geoData.map{|info|info[:position][:lng]}.reduce(&:+) / geoData.length - 0.01 %>
  };
</script>

<%# if params[:locale] == "en" %>
<!--   <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC81D29r_jCs93QwACNyW6BC_nBjU8mSAk&amp;sensor=false"></script>
  <script type="text/javascript">
    var markers = [];

    function initialize() {
      var center = new google.maps.LatLng(geoCenter["lat"], geoCenter["lng"]);

      var map = new google.maps.Map(document.getElementById('map'), {
        disableDefaultUI: true,
        center: center,
        zoom: 15
      });

      var infowindow = new google.maps.InfoWindow();

      for (var i = 0; i < geoData.length; i++) {
        var marker = new google.maps.Marker({
          map: map,
          content: geoData[i].content,
          position: new google.maps.LatLng(geoData[i].position.lat, geoData[i].position.lng)
        });

        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(this.content);
          infowindow.open(map, this);
        });

        markers.push(marker);
      }
    }

    function show(i) {
      google.maps.event.trigger(markers[i], 'click');
    }

    $(document).ready(initialize);
  </script> -->
<%# else %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=E5072c8281660dfc534548f8fda2be11"></script>
  <script type="text/javascript">
    var local;

    function initialize() {
      // 百度地图API功能
      var map = new BMap.Map("map");            // 创建Map实例
      map.enableScrollWheelZoom(true);
      local = new BMap.LocalSearch(map, {renderOptions: {map: map}, pageCapacity: 1});
      local.search(geoData[0].title);
    }

    function show(id) {
      local.search(geoData[id].title)
    }

    $(document).ready(initialize);
  </script>
<%# end %>
