<div class="jumbotron">
  <p><%= t :para %></p>

  <div class="row">
    <div class="col-md-4">
      <h3><%= t(:title)[0] %></h3>
      <p>
        <a href="http://www.riscure.com/">
          <%= image_tag "images/riscure.jpg", height: 135, width: 300 %>
        </a>
      </p>
    </div>

    <div class="col-md-8">
      <h3><%= t(:title)[1] %></h3>
      <p>
        <a href="http://blog.opensecurityresearch.com/">
          <%= image_tag "images/OSR.png", height: 135, width: 175 %>
        </a>
        <a href="https://www.osr.com/">
          <%= image_tag "images/scsemicon.png", height: 135, width: 140 %>
        </a>
        <a href="http://www.sklois.cn">
          <%= image_tag "images/Sklois.png", height: 135, width: 135 %>
        </a>
      </p>
    </div>
  </div>
</div>
