<div class="jumbotron sponsors">
  <p><%= t :para %></p>

  <div class="row">
    <% t(:panel).each do |panel| %>
      <div class="col-md-<%= panel[:width] %>">
        <% if panel[:title] %>
          <h3><%= panel[:title] %></h3>
        <% end %>
        <p>
          <% panel[:list].each do |item| %>
            <a href="<%= item[:url] %>">
              <%= image_tag item[:image] %>
            </a>
          <% end %>
        </p>
      </div>
    <% end %>
  </div>

</div>
