<div class="map-wrapper">
  <div id="map"></div>

  <div class="content">
    <ul class="mt30 ml20">
      <% t(:list).each_with_index do |list, index| %>
        <li>
          <h4><%= list[:title] %></h4>
          <%= simple_format list[:para] %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<% if params[:locale] == "en" %>
  <script type="text/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyC81D29r_jCs93QwACNyW6BC_nBjU8mSAk&amp;sensor=false"></script>
  <script type="text/javascript">
    function initialize() {
      var map = new google.maps.Map(document.getElementById('map'), {
        disableDefaultUI: true,
        center: new google.maps.LatLng(<%= t(:position)[:lat] %>, <%= t(:position)[:lng] - 0.01 %>),
        zoom: 15
      });

      var infowindow = new google.maps.InfoWindow();

      var marker = new google.maps.Marker({
        map: map,
        content: "<%= raw t(:position)[:content] %>",
        position: new google.maps.LatLng(<%= t(:position)[:lat] %>, <%= t(:position)[:lng] %>)
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(this.content);
        infowindow.open(map, this);
      });
      google.maps.event.trigger(marker, 'click');
    }

    $(document).ready(initialize);
  </script>
<% else %>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=E5072c8281660dfc534548f8fda2be11"></script>
  <script type="text/javascript">

    function initialize() {
      // 百度地图API功能
      var map = new BMap.Map("map");
      var point = new BMap.Point(<%= t(:position)[:lat] %>, <%= t(:position)[:lng] %>);
      var marker = new BMap.Marker(point);  // 创建标注
      map.addOverlay(marker);  // 将标注添加到地图中
      map.centerAndZoom(new BMap.Point(<%= t(:position)[:lat] %> - 0.002, <%= t(:position)[:lng] %>), 18);
      var opts = {
        width : 200,     // 信息窗口宽度
        height: 100,     // 信息窗口高度
      }
      var infoWindow = new BMap.InfoWindow("<%= raw t(:position)[:content] %>", opts);  // 创建信息窗口对象
      marker.addEventListener("click", function() {
        map.openInfoWindow(infoWindow, point); //开启信息窗口
      });
      map.openInfoWindow(infoWindow, point);
    }

    $(document).ready(initialize);
  </script>
<% end %>
